{% load static %}

<link rel="stylesheet" href="{% static '/css/topic/nav/web.css' %}">
<div class="main_nav_list">
    <ul>
      {% if user.is_authenticated  %}
        <a href="{% url 'topic:index' %}"   >Blogs</a>
        <a href="{% url 'topic:topics' %}" >My Topics</a>
        <a href="{% url 'accounts:logout' %}" >Logout</a>
        <a href="{% url 'accounts:profile' user.id %}" >{{user.username}}</a>
        {% else %}
        <a href="{% url 'topic:index' %}" >Blogs</a>
        <a href="{% url 'accounts:login' %}" >Login</a>

      {% endif %}
    </ul> 
  </div>